#root {
  padding: 0 20px 20px 20px;
}

label span {
  position: absolute;
  left: -9999px;
}

button, input, select, textarea {
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: block;
}

a {
  text-decoration: none;
}

code {
  padding: 2px 4px;
  background: #eee;
  display: inline-block;
  border-radius: 4px;
}
