/* general */

main {
  padding: 1px 0;
  background: #fff;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

h1 span {
  color: #bbb;
}

a {
  text-decoration: none;
  color: #07c;
  font-weight: 500;
}

a:hover,
a:focus,
button:hover,
button:focus {
  text-decoration: underline;
}

h1 a {
  font-weight: 400;
}

h2 {
  text-align: center;
  font-weight: 400;
}

/* tables */

table {
  margin: 0 auto 2em auto;
}

th,
td {
  text-align: left;
  vertical-align: center;
  padding: 0.5em 15px;
}

th {
  font-weight: 500;
  text-transform: capitalize;
}

td {
  border-top: 1px solid #e7e7e7;
}

tr:nth-child(2n+1) td {
  background-color: #f4faff;
}

/* forms */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

legend {
  position: absolute;
  left: -9999px;
}

button, input, select, textarea {
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  display: block;
}

button {
  cursor: pointer;
}

input, select {
  padding: 5px;
  background: #fff;
  border: 1px solid #bbb;
  font-weight: 400;
  border-radius: 4px;
}

input {
  width: 200px;
}

select {
  width: 212px;
}

main label,
main fieldset > div {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

main form {
  text-align: center;
}

main fieldset {
  display: inline-flex;
  flex-direction: column;
  padding: 0 15px;
}

main label span {
  font-weight: 500;
  margin-right: 15px;
}

main button {
  color: #fff;
  background: #07c;
  border: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
}

main button:hover,
main button:focus {
  background: #09e;
}

/* login form */

nav {
  user-select: none;
}

nav fieldset > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

nav label span {
  position: absolute;
  left: -9999px;
}

nav input, nav button {
  margin: 10px 5px;
}

nav input {
  width: 125px;
}

nav button {
  background: transparent;
  color: #07c;
  font-weight: 500;
  border: none;
}

/* navigation */

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 10px 0 0 0;
  background: #f3f3f3;
}

nav li {
  display: block;
  max-width: 150px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: #000;
  font-weight: 500;
}

nav a:hover,
nav a:focus {
  color: #07c;
}

nav a.active {
  background: #fff;
  color: #000;
}

/* history */

#history {
  background: #f7f7f7;
  padding: 1px 0;
}

#history > ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-width: 500px;
}

#history > ul > li {
  padding: 5px 15px;
}

#history > ul > li + li {
  border-top: 1px solid #e3e3e3;
}

#history > ul > li:nth-child(2n) {
  background-color: #f3f3f3;
}

#history p,
#history ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/* history items */

.history-item-time {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
}

.history-item-time span {
  display: none;
}

.history-item-time span + time {
  margin-left: 15px;
}

.history-item-diff {
  list-style-type: disc;
  padding-left: 15px;
  margin-left: 15px;
  color: #666;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 0.9em;
}

.history-item-diff span,
.history-item-diff a {
  background-color: #fff;
  display: inline-block;
  padding: 1px 2px;
  border-radius: 4px;
}

.history-item-diff span {
  color: #000;
}

/* flag status in tables */

table .flag-status {
  text-transform: uppercase;
}

table .flag-status:before {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: #07c;
  position: relative;
  top: 0.1em;
  margin-right: 0.25em;
}

table .flag-status.flag-enabled:before {
  background: #2c0;
}

table .flag-status.flag-disabled:before {
  background: #f42;
}
